---
import MainLayout from "../Layouts/MainLayout.astro";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
---
<MainLayout title="Home">
    <Card className="cursor-pointer w-[350px]">
        <CardHeader>
          <CardTitle>Chip-8 Emulator</CardTitle>
        </CardHeader>
        <CardContent>
          <img src="../../public/chip8.png">
        </CardContent>
        <CardFooter>
          <p>Rust Implementation of chip8 virtual machine and compiled to wasm</p>
        </CardFooter>
      </Card>
</MainLayout>